parameters:
	ignoreErrors:
		-
			message: "#^Variable \\$trace might not be defined\\.$#"
			count: 2
			path: src/Model/SourceLocation.php

		-
			message: "#^Variable \\$label might not be defined\\.$#"
			count: 1
			path: src/Visitor/Php/Symfony/FormTypeLabelExplicit.php

