<html>
    <title>{% trans from "domain" %}foobar{% endtrans %}</title>
    <title>{% trans %}no-domain{% endtrans %}</title>
    <title>{% trans with {"%count%":5}%}trans-count{% endtrans %}</title>
</html>
